<template>
    <div v-if="mode == 'show' " @tap="onTap" @click="onTap">
        <b-list-group-item v-if="ItemData && ItemData.title && ItemData.title.length > 0"> {{ ItemData.title }}</b-list-group-item>
        <b-list-group-item v-else>Add item</b-list-group-item>
    </div>
    <div v-else-if="mode == 'edit' ">
        <b-list-group-item> <input type="text" size="10" value=""><b-button @click="onSave">save</b-button></b-list-group-item>
    </div>
</template>

<script>
export default {
  name: 'ShoppingItem',
    data : function(){
      return {
          mode : 'show'
      }
    },
  props: {
    ItemData: {
        type: Object,
        default: () => ({})
    }
  },
    methods : {
        onTap : function(){
          this.mode = 'edit';
        },
        onSave : function(e){
            this.ItemData.title = 'edit';
            this.mode = 'show';
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
