<template>
  <div class="card" id="shoppinglist">
    <h2 class="card-title ynagradient text-capitilize ynatitle">Add Your Items Here</h2>
    <div class="card-body">
      <template v-if="this.ShoppingItems.length > 0" >

          <b-list-group v-for="(item, index) in ShoppingItems" :key="index" :value="item">
            <shopping-item :item-data="item"></shopping-item>
          </b-list-group>

      </template>
      <b-list-group>
        <shopping-item/>
      </b-list-group>
    </div>
  </div>

</template>

<script>
  import ShoppingItem from './ShoppingItem.vue'
export default {
  name: 'ShoppingList',
  components : {
    ShoppingItem
  },
  props: {
    ShoppingItems: Array
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #shoppinglist{
    width : 300px;
  }
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
