<template>
  <div id="app">
    <b-navbar toggleable="md" class="ynagradient">
      <h1>ShoppingList</h1>
    </b-navbar>
    <div>
      <shopping-list :shopping-items="this.items"/>
    </div>
  </div>
</template>

<script>
import ShoppingList from './components/ShoppingList.vue'

export default {
  name: 'app',
  components: {
    ShoppingList

  },
  data : function () {
    return {
      items : [{title : 'first'},{title : 'second'}]
    }
  }
}
</script>

<style>
.ynagradient{
  background-image: linear-gradient(rgba(0,229,145,1), rgba(47,239,188,1));
}
.ynatitle{
  color : #ffffff;
}
h1{
  font-size: 2em;
  color : #ffffff;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  width : 800px;
}
</style>
